# Dependency directories
node_modules/

# Build outputs
dist/
.angular/

# Environment variables
.env
.env.local
.env.*.local

# IDE configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
